a{
    text-decoration: none;   
}
.listItem-a, .listItem-b{ 
    height: 155px;
    width: 938px;
    margin-left: -25px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    /*box-shadow: 0px -10px 10px #aaa;*/
}
.listItem-a{
    background: #eeeeee;
}
.listItem-b{
    background: #dddddd;
}
.listItem-a:hover, .listItem-b:hover{
   /* box-shadow: 3px 5px 5px #ccc;*/
}
.listItem-a img, .listItem-b img{
    margin:0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    position: absolute;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /*background-color: rgba(77, 23, 12, 0.8);*/
}
.listItem-a img{
    box-shadow: inset -5px -5px 5px #ddd;
}
.listItem-b img{
    box-shadow: inset -5px -5px 5px #eee;
}
.listItem-a img:hover, .listItem-b img:hover{
    background-color: rgba(77, 23, 12, 0.85);
    box-shadow: 3px 0px 5px rgba(77, 23, 12, 0.7);
    /*box-shadow: inset 0px 0px 10px rgba(77, 23, 12, 0.8);*/
}
.listItem-a img:hover + p.itemName, .listItem-b img:hover + p.itemName{
    border-bottom: 5px solid rgba(77, 23, 12, 0.7);
}
.listItem-a p.itemName, .listItem-b p.itemName {
    position: absolute;
    text-shadow: -1px 0px 2px #bbb; 
    margin-left: 215px;
    padding: 5px;
    width: 705px;
    color: #000; 
    font-size: 11pt;
    border-bottom-right-radius: 20px;   
}
.listItem-a p.desc, .listItem-b p.desc{
    margin-left: 215px;
    padding: 50px 5px 5px 5px;
    font-size: 11pt;
    color: #000;
}
.listItem-a p.itemName{
    border-bottom: 5px solid #ddd;
}
.listItem-b p.itemName {
    border-bottom: 5px solid #eee;
} 
.listItem-a p.itemName:hover, .listItem-b p.itemName:hover{
    text-decoration: underline;
}
div.post{
    padding-top: 0;
    margin-top: 0;   
}
div.contentText{
	padding: 0;
	margin:0;
}
div#main_content{
	/*margin: 0px 10px 0px 18px;
	padding: 0px 10px 5px 10px;*/
	background-color: #eeeeee;
}