# Already on github
websites/govhack/

# Image uploads not needed
images/
websites/oldsite/images/

# No need to reshare codiad.. 
websites/oldsite/codiad/
Codiad/

# Big games
*.unity3d
*.swf

# Piracy is bad yarrr
*.mp3
